<h1><%= "#{@day} (#{week @day.wday})" %></h1>
<%= link_to("前の日  #{@day - 1}", reserves_path(date: @day - 1)) unless @day == Date.current %>
<%= link_to("次の日  #{@day + 1}", reserves_path(date: @day + 1)) %><br>

<%= form_for @fp_user, url: reserves_path(date: @day), method: :post do |f| %>
  <% if @set_time %>
    <%= f.hidden_field :id_set, value: [@set_time.first.id, @set_time.last.id] %>
    <%#= f.hidden_field :id_end, @set_time.last.id.to_s %>
    <%= f.collection_check_boxes(:fp_reserf_ids, @set_time, :id, :start ) do |t| %>
      <%= t.label { t.check_box + t.text.strftime('%H:%M') + " - " + t.object.end.strftime('%H:%M') } %><br>
    <% end %>
  <% end %>
  <%= submit_tag %>
<% end %>
