<h1>登録画面</h1>

<%= form_for(@user, url: signup_path) do |f| %>
  <%= render 'shared/error' %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.submit "アカウントを作成する" %>
<% end %>
