<h2>For Financial Planner</h2>
<h1>ようこそ <%= @user.name %> 様</h1>

<%= link_to "受付可能時間を設定する", reserves_path %><br>
<%= link_to "曜日可能日を設定する", timesettings_path %><br>
<%= link_to "ユーザー一覧を設定する", users_path %><br>

<h4> 予約一覧 </h4>
<% @fp_consultants.each do |cos| %>
  <%= cos.date.to_date %>
  <%= cos.start.strftime('%H:%M') %> - <%= cos.end.strftime('%H:%M') %>
  <%= cos.users.first.name %>樣が予約済<br>
<% end %>
