<header>
  <%= link_to "FP 相談所", root_path, id: "logo" %>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <% if logged_in? %>
    <li><%= link_to "ユーザー情報編集", edit_path %></li>
    <li><%= link_to "Log out", logout_path, method: :delete %></li>
    <% else %>
    <li><%= link_to "Log in", login_path %></li>
    <% end %>
  </ul>
</header>
